# Binaries, byte compilations, etc.
#----------------------------------
__pycache__/
*.py[cod]
*.so

# Caches
#----------------------------------
.cache
.ipynb_checkpoints
.metaflow
.minio.sys
.mypy_cache
.pytest_cache
.ruff_cache

# Distribution & packaging
#----------------------------------
build/
dist/
eggs/
sdist/
wheels/
.eggs/
*.egg
*.egg-info/

# Editors & IDEs
#----------------------------------
*~
\#*
.#*
.project
.pydevproject
.settings
.vscode

# Environments
#----------------------------------
.python-version

# macOS
#----------------------------------
.DS_Store
._*
.Trash*

# Project-specific
#----------------------------------
logs/
output*/
tests/fixtures/input/1000Y.all.bcf
tests/fixtures/input/1000Y.all.bcf.csi
tests/fixtures/input/1000Y.subset.bcf
tests/fixtures/input/1000Y.subset.bcf.csi
tests/fixtures/input/ALL.chrY_10Mbp_mask.glia_freebayes_maxLikGT_siteQC.20130502.60555_biallelic_snps.vcf.gz
tests/fixtures/input/ALL.chrY_10Mbp_mask.glia_freebayes_maxLikGT_siteQC.20130502.60555_biallelic_snps.vcf.gz.tbi
!tests/fixtures/output/
